body{
  margin: auto;
  width: 530px;
  background-color: #F0F0E0;
}

#cab{
  background-color:#508050;
  padding: 10px 20px 10px 20px;
  border-radius: 0px 0px 20px 20px;
  color: #FFF;
}
