body{
  margin: auto;
  width: 530px;
  background-color: #FFE;
}

#cab, footer{
  margin-top: -15px;
  background-color:#585;
  padding: 0px 20px 10px 20px;
  border-radius: 0px 0px 20px 20px;
  color: #FFF;
}

#parques{
background-color: #558;
padding: 0px 10px 10px 10px;
border-radius: 20px;
}

footer{
border-radius: 10px;
margin-top: 20px;
padding: 10px;
}
